
<!-- end page title -->

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="product-detai-imgs">
                            <div class="row">
                                <div class="col-md-2 col-sm-3 col-4">
                                    <div *ngFor="let image of images;" class="nav flex-column nav-pills " id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                        <a class="nav-link active" id="product-1-tab" data-bs-toggle="pill" href="#product-1" role="tab" aria-controls="product-1" aria-selected="true">
                                            <img  src="{{image.name}}" alt="" class="img-fluid mx-auto d-block rounded">
                                        </a>
                                        
                                    </div>
                                </div>
                                <div class="col-md-7 offset-md-1 col-sm-9 col-8">
                                    <div class="tab-content" id="v-pills-tabContent">
                                        <div *ngFor="let image of images;" class="tab-pane fade show active" id="product-1" role="tabpanel" aria-labelledby="product-1-tab">
                                            <div>
                                                <img src="{{image.name}}" alt="" class="img-fluid mx-auto d-block">
                                            </div>
                                        </div>
                                       
                                    </div>
                                    <div class="text-center">
                                        <br>
                                        <button type="button" class="btn btn-danger waves-effect waves-light w-sm">
                                            <i class="mdi mdi-trash-can d-block font-size-16"></i>Supprimer oeuvre
                                        </button>
                                       
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6">
                        <div class="mt-4 mt-xl-3">
                            <a href="javascript: void(0);" class="text-primary">Oeuvre</a>
                           <br><br>
                            <h1 class="mt-1 mb-3">{{currentoeuvre.titre}}</h1>

                          

                            
                               <div class="row mb-3">
                                <div class="col-md-6">
                                    <div>
                                        <p class="text-muted"><i class="bx bx-calendar font-size-16 align-middle text-primary me-1"></i> date de creation : {{currentoeuvre.dateCreation} </p>
                                       
                                    </div>
                                </div>
                                
                            </div>

                          
                        </div>
                    </div>
                </div>
                <!-- end row -->

                <div class="mt-5">
                    <h5 class="mb-3">Informations :</h5>

                    <div class="table-responsive">
                        <table class="table mb-0 table-bordered">
                            <tbody>
                              
                                <tr>
                                    <th scope="row">Nom et prenom d'artiste</th>
                                    <td>{{currentoeuvre.nomArtiste}} {{currentoeuvre.presnomArtiste}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Description</th>
                                    <td>{{currentoeuvre.description}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">type de tirage</th>
                                    <td>{{currentoeuvre.typeTitrage}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Numero de tirage</th>
                                    <td>{{currentoeuvre.numeroTitrage}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Materiaux</th>
                                    <td>{{currentoeuvre.materiaux}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Nombre d'elements</th>
                                    <td>{{currentoeuvre.nbElements}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Support</th>
                                    <td>{{currentoeuvre.support}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">poid</th>
                                    <td>{{currentoeuvre.poid}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Dimension 2d</th>
                                    <td>{{currentoeuvre.dimensions2D}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Dimension 3d</th>
                                    <td>{{currentoeuvre.dimensions3D}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- end Specifications -->

             

            </div>
        </div>
        <!-- end card -->
    </div>
</div>
