<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18">Ajout Oeuvre</h4>

           

        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Informations</h4>
                <p class="card-title-desc">Remplissez toutes les informations ci-dessous</p>

                <form>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label for="productname">Titre</label>
                                <input id="productname" name="titre" type="text" class="form-control" placeholder="Titre"  [(ngModel)]="titre">
                            </div>
                            <div class="mb-3">
                                <label for="manufacturername">Nom d'artiste </label>
                                <input id="manufacturername" name="nomArtiste" type="text" class="form-control" placeholder="Nom d'artiste"  [(ngModel)]="nomArtiste">
                            </div>
                            <div class="mb-3">
                                <label for="manufacturerbrand">Prenom d'artiste</label>
                                <input id="manufacturerbrand" name="presnomArtiste" type="text" class="form-control" placeholder="Prenom d'artiste"  [(ngModel)]="presnomArtiste">
                            </div>
                            <div class="mb-3">
                                <label for="price">Date de creation</label>
                                <input id="price" name="dateCreation" type="text" class="form-control" placeholder="Date de creation"  [(ngModel)]="dateCreation">
                            </div>
                           
                        </div>

                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label class="control-label">Type tirage</label>
                                <select class="form-control select2">
                                    <option value="peinture"  [(ngModel)]="typeTitrage"  >peinture</option>
                                    <option value="sculpture" [(ngModel)]="typeTitrage">Sculpture</option>
                                    <option value="arts_graphiques" [(ngModel)]="typeTitrage">Arts graphiques</option>
                                    <option value="photographie" [(ngModel)]="typeTitrage">Photographie</option>
                                    <option value="video" [(ngModel)]="typeTitrage" >Video</option>
                                    <option value="textile" [(ngModel)]="typeTitrage">Textile</option>
                                    <option value="installation" [(ngModel)]="typeTitrage" >Installation</option>
                                    <option value="autre" [(ngModel)]="typeTitrage">Autre</option>                                    
                                </select>
                            </div>
                            
                            
                            <div class="mb-3">
                                <label class="control-label">Artiste</label>
                                <select class="form-control select2">
                                    <option value="autre" >Autre</option>                                    
                                </select>
                            </div>

                        </div>
                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label for="metatitle">Materiaux</label>
                                <input id="metatitle" name="materiaux" type="text" class="form-control" placeholder="Materiaux" [(ngModel)]="materiaux">
                            </div>
                            <div class="mb-3">
                                <label for="metakeywords">Support</label>
                                <input id="metakeywords" name="support" type="text" class="form-control" placeholder="support" [(ngModel)]="support">
                            </div>

                            
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label for="metatitle">Nombre d'elements</label>
                                <input id="metatitle" name="nbElements" type="text" class="form-control" placeholder="Nombre d'elements" [(ngModel)]="nbElements">
                            </div>
                            <div class="mb-3">
                                <label for="metakeywords">Numero de tirage</label>
                                <input id="metakeywords" name="numeroTitrage" type="text" class="form-control" placeholder="Numero de tirage" [(ngModel)]="numeroTitrage">
                            </div>

                            
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label for="metatitle">dimensions 2D </label>
                                <input id="metatitle" name="nbElements" type="text" class="form-control" placeholder="Nombre d'elements" [(ngModel)]="dimensions2D">
                            </div>
                            <div class="mb-3">
                                <label for="metakeywords">dimensions 3D</label>
                                <input id="metakeywords" name="numeroTitrage" type="text" class="form-control" placeholder="Numero de tirage" [(ngModel)]="dimensions3D">
                            </div>

                            
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title mb-3">Image</h4>
            
                            <input class="form-control form-control-lg" id="formFileLg" type="file"  (change)="onChange($event)"   />
                            <button (click)="uploadPhoto()"  class="btn btn-success" >Upload image</button>
                        </div>
                        
                    </div> <!-- end card-->
                    <div class="d-flex flex-wrap gap-2">
                        <button class="btn btn-primary waves-effect waves-light" (click)="saveOeuvre()">Sauvegarder</button>
                        <button type="submit" class="btn btn-secondary waves-effect waves-light">Annuler</button>
                    </div>
                    
                </form>

            </div>
        </div>

        

      
    </div>
</div>
