<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18">Ajout Oeuvre</h4>

           

        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Informations</h4>
                <p class="card-title-desc">Remplissez toutes les informations ci-dessous</p>

                <form>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label for="productname">Titre</label>
                                <input id="productname" name="titre" type="text" class="form-control" placeholder="Titre">
                            </div>
                            <div class="mb-3">
                                <label for="manufacturername">Nom d'artiste </label>
                                <input id="manufacturername" name="nom" type="text" class="form-control" placeholder="Nom d'artiste">
                            </div>
                            <div class="mb-3">
                                <label for="manufacturerbrand">Prenom d'artiste</label>
                                <input id="manufacturerbrand" name="manufacturerbrand" type="text" class="form-control" placeholder="Prenom d'artiste">
                            </div>
                            <div class="mb-3">
                                <label for="price">Date de creation</label>
                                <input id="price" name="price" type="text" class="form-control" placeholder="Date de creation">
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label class="control-label">Categorie</label>
                                <select class="form-control select2">
                                    <option value="peinture" >peinture</option>
                                    <option value="sculpture">Sculpture</option>
                                    <option value="arts_graphiques">Arts graphiques</option>
                                    <option value="photographie">Photographie</option>
                                    <option value="video" >Video</option>
                                    <option value="textile" >Textile</option>
                                    <option value="installation" >Installation</option>
                                    <option value="autre" >Autre</option>                                    
                                </select>
                            </div>
                            
                            <div class="mb-3">
                                <label for="productdesc">Description</label>
                                <textarea class="form-control" id="productdesc" rows="5" placeholder="Description"></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="metakeywords">Type de tirage</label>
                                <input id="metakeywords" name="Typetirage" type="text" class="form-control" placeholder="Type de tirage">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label for="metatitle">Materiaux</label>
                                <input id="metatitle" name="materiaux" type="text" class="form-control" placeholder="Materiaux">
                            </div>
                            <div class="mb-3">
                                <label for="metakeywords">Support</label>
                                <input id="metakeywords" name="support" type="text" class="form-control" placeholder="support">
                            </div>

                            
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label for="metatitle">Nombre d'elements</label>
                                <input id="metatitle" name="Nbelements" type="text" class="form-control" placeholder="Nombre d'elements">
                            </div>
                            <div class="mb-3">
                                <label for="metakeywords">Numero de tirage</label>
                                <input id="metakeywords" name="Numtirage" type="text" class="form-control" placeholder="Numero de tirage">
                            </div>

                            
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title mb-3">Image</h4>
            
                            <input class="form-control form-control-lg" id="formFileLg" type="file" />
                        </div>
            
                    </div> <!-- end card-->
                    <div class="d-flex flex-wrap gap-2">
                        <button type="submit" class="btn btn-primary waves-effect waves-light">Sauvegarder</button>
                        <button type="submit" class="btn btn-secondary waves-effect waves-light">Annuler</button>
                    </div>
                    
                </form>

            </div>
        </div>

        

      
    </div>
</div>
